.fixture{
  text-align: center;
}
.home{
  float: left;
}
.away{
  float: right;
}
#error{
  color: #000;
}
#navigate{
  background-color: #02401d ;
  color: #fff;

}
html{
  background-color: #057f39;
  color: #fff;


}
body{
  background-color: #057f39;
  color: #fff;

}
a{
  color: #fff;
}

footer {
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #02401d;
  text-align: center;
  z-index: 10;
}
#title{
  text-align: center;
  font-size: 84px;
  font-family: 'Lobster', cursive;

}
#pics-left{
  background-image: url("../images/EPL-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  padding-bottom: 190px;

}
#pics-right{
  background-image: url("../images/liga1.png");
  background-repeat: no-repeat;
  width: 40%;
  background-size: cover;
  padding-bottom: 190px;
  float: right;


}
