.fixture{
  text-align: center;
}
.home{
  float: left;
}
.away{
  float: right;
}
#error{
  color: #000;
}
#navigate{
  background-color: #02401d ;
  color: #fff;

}
html{
  background-color: #057f39;
  color: #fff;

}
body{
  background-color: #057f39;
  color: #fff;

}
a{
  color: #fff;
}

footer {
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #02401d;
  text-align: center;
}


/*.jumbotron{
  background-image: url("../images/soccer-ball.jpg");
  background-repeat: no-repeat;
  padding-top: 0%;
  padding-bottom: 15%;

}*/
