{% extends 'base.html' %}
<!-- styles block -->
{%block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {%endblock%} {% block content %}
<!-- <div class="jumbotron">
  <h1 id="header">GameTime</h1>
</div> -->

<div id="index" class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Leagues</h3>
      <ul class="nav navbar-nav">
        <li><a href="#">EPL</a></li>
        <li><a href="#">BundesLiga</a></li>
        <li><a href="#">LaLiga</a></li>
        <li><a href="#">League 1</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <h3>This Week</h3>
      <div class="fixture">
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Home</th>
              <th>score</th>

              <th>Away</th>
            </tr>
          </thead>
          <tbody>
            {% for fixture in week_fixture %}
            <tr>
              <td>{{fixture.date}}<br>{{fixture.status}}</td>
              <td><a href="/team/{{fixture.home_id}}">{{fixture.home}}<form action="" method="post"><button class="btn btn-primary"type="submit" name="add_f" value="{{fixture.home_id}}">fav</button></form></td>
                <td>{{fixture.score}}</td>

              <td><a href="/team/{{fixture.away_id}}">{{fixture.away}}<form action="" method="post"><button class="btn btn-primary"type="submit" name="add_f" value="{{fixture.away_id}}">fav</button></form></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Favourite Section</h3>
      <ul class="nav navbar-nav">
        {% for fav in favourites %}
        <li><a href="#">{{fav.team_id}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
