{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Leagues</h3>
      <ul class="nav navbar-nav">
        <li><a href="#">EPL</a></li>
        <li><a href="#">BundesLiga</a></li>
        <li><a href="#">LaLiga</a></li>
        <li><a href="#">League 1</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <h3>This Week</h3> {% for fixture in week_fixture %}
      <div class="fixture">
        <div class="row">
          <div class="col-md-5">
            <h4><a href="/team/{{fixture.home_id}}">{{fixture.home}}</a></h4>
          </div>
          <div class="col-md-2">
            <p>{{fixture.date}}</p>
          </div>
          <div class="col-md-5">
            <h4><a href="/team/{{fixture.away_id}}">{{fixture.away}}</a></h4>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-2">
      <h3>Week Fixtures</h3>
      <ul class="nav navbar-nav">
        <li><a href="#">GAMETIME</a></li>
        <li><a href="#">FIXTURE</a></li>
        <li><a href="#">LEAGUE</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
