{% extends 'base.html' %}
<!-- styles block -->
{%block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {%endblock%} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3>Leagues</h3>
      <ul class="">
        <li><a href="/league/epl">EPL</a></li>
        <li><a href="/league/bundesliga">BundesLiga</a></li>
        <li><a href="/league/laliga">La-LIGA</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <h3>This Week</h3>
      <div class="fixture">

        <table class="table">
          <thead>
            <tr>
              <th>Pos</th>
              <th>Team</th>
              <th>played</th>
              <th>gd</th>
              <th>points</th>

            </tr>
          </thead>
          <tbody>
            {% for standing in league %}
            <tr>
              <td>{{standing.pos}}</td>
              <td><a href="/team/{{standing.team_id}}">{{standing.team}}</a></td>
              <td>11</td>
              <td>{{standing.gd}}</td>
              <td>{{standing.points}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Favourites</h3>
      <div class="row">
        {% for fav in favourites %}
        <div class="col-md-10">

          <li class="fav"><a href="/team/{{fav.team_id}}">{{fav}}</a></li>

        </div>
        <div class="col-md-2">
          <span class="away"><form action="" method="post"><button class="btn btn-danger btn-sm"type="submit" name="del_f" value="{{fav}}">del</button></form></span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
