<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/css/index.css">

  <title></title>
</head>

<body>
  <div class="navbar navbar-inverse" role="navigation" id="navigate">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>
        <a class="navbar-brand" href="/">GameTime </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
        <form class="navbar-form navbar-left" method="post" action="/search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name='search'>
            <div class="input-group-btn">
              <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
        </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {%if current_user.is_authenticated%}

          <li>
            <h4><a href="#">{{current_user.username}}</a></h4></li>
          <li><a href="{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {%else%}
          <li><a href="{{url_for('auth.register')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {%endif%}
        </ul>
      </div>
    </div>
  </div>
</body>
<footer>GameTime &#169; 2017</footer>


</body>

</html>
