{% extends 'base.html' %}
<!-- styles block -->
{%block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {%endblock%} {% block content %}
<div class="col-md-2">
  <h3>Leagues</h3>
  <ul class="">
    <li><a href="/league/epl">EPL</a></li>
    <li><a href="/league/bundesliga">BundesLiga</a></li>
  </ul>
</div>
<div class="col-md-8">
  <h3>All Games</h3>
  <div class="fixture">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Home</th>
          <th>score</th>
          <th>Away</th>
        </tr>
      </thead>
      <tbody>
        {% for fixture in team_fixtures %}
        <tr>
          <td>{{fixture.date}} <br> {{fixture.status}}</td>
          <td><a href="/team/{{fixture.home_id}}">{{fixture.home}}</a> <span class="home"><form action="" method="post"><button class="btn btn-primary"type="submit" name="add_f" value="{{fixture.home_id}}">fav</button></form></span></td>
          <td>{{fixture.score}}</td>

          <td><a href="/team/{{fixture.away_id}}">{{fixture.away}}</a><span class="away"><form action="" method="post"><button class="btn btn-primary"type="submit" name="add_f" value="{{fixture.away_id}}">fav</button></form></span> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-2">
  <h3>Favourites</h3>
  <ul class="">
    {% for fav in favourites %}
    <li><a href="/team/{{fav.team_id}}">{{fav.team_id}}</a></li>
    {% endfor %}
  </ul>
</div>



{% endblock %}
