{% extends 'base.html' %}
<!-- styles block -->
{%block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}"> {%endblock%} {% block content %}
<div class="col-md-2">
  <h3>Leagues</h3>
  <ul class="">
    <li><a href="#">EPL</a></li>
    <li><a href="#">BundesLiga</a></li>
    <li><a href="#">LaLiga</a></li>
    <li><a href="#">League 1</a></li>
  </ul>
</div>
<div class="col-md-8">
  <h3>All Games</h3> {% for fixture in team_fixtures %}
  <div class="fixture">
    <div class="row">
      <div class="col-md-5">
        <h4><a href="/team/{{fixture.home_id}}">{{fixture.home}}</a></h4>
      </div>
      <div class="col-md-2">
        <p>{{fixture.date}}</p>
      </div>
      <div class="col-md-5">
        <h4><a href="/team/{{fixture.away_id}}">{{fixture.away}}</a></h4>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="col-md-2">
  <h3>Favourites</h3>
  <ul class="">
    <li><a href="#">chelsea</a></li>
    <li><a href="#">arsenal</a></li>
    <li><a href="#">man u</a></li>
  </ul>
</div>



{% endblock %}
